<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
</head>
	<link href="https://fonts.googleapis.com/css?family=Cardo|Raleway|Source+Sans+Pro&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/3a3b466b49.js" crossorigin="anonymous"></script>
<body>
	<link href="/assets/styles.css" rel="stylesheet"/>
	<header class="hero">
		<section class="topbar">
			<section class = "logowrapper">
				<p>Sunny Meadows</p>
			</section>
			<nav class="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/covenant">Covenant</a></li>
					<li><a href="/dues">Dues</a></li>
					<li><a href=""><i fa-icon-nextdoor></i></a></li>
				</ul>
			</nav>
		</section>
	</header>