:root {
	--primary-color: #33759e;
	--secondary-color: green;
	--background-color: white;
	--typeface-color: #555555;
	--typeface-logo: 'Cardo';
	--typeface-accent: "Raleway";
	--typeface-main: 'Source Sans Pro', sans-serif;
}

html {
	color: var(--typeface-color);
	font-family: var(--typeface-main);
	font-size:100%;
}

body {
	background: var(--background-color);
	box-sizing: border-box;
	margin: 0px;
}

.topbar {
	display:flex;
	align-items: center;
	padding: 1rem 2rem;
	color: var(--background-color);
	font-family: var(--typeface-accent);
	text-transform: uppercase;
	font-size: 1.1rem;
}

.logowrapper {
	font-family: var(--typeface-logo);
	flex: 1;
	font-size:2.3rem;
}

.menu ul {
	display: flex;
	align-content: stretch;
	align-items: center;
	justify-content:space-around;
	padding-left: 0rem;
}

.menu li {
	flex: 1;
	list-style: none;
	padding: .3rem 2rem;
}

.topbar a {
	color: var(--background-color);
	text-decoration: none;
}

.hero {
	width: 100%;
	height: 450px;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0)), url('/assets/hero.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size:cover;
	position: relative;
}

.main {
	margin: 2rem 5%;
}

.main a {
	text-decoration: none;
	color: var(--secondary-color);
}

.main a:hover {
	text-decoration: underline;
}

.fas {
	color: var(--secondary-color);
}

.homecontent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.about {
	flex-basis: 100%;
	padding-right: 2em;
}

.mapcontainer {
	flex-basis: 100%;
}

.map {
	overflow: hidden;
	padding-bottom: 75%;
	position: relative;
	height: 0;
}
.map iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.download {
	padding-top: 1rem;
}

.covenant {
	overflow: hidden;
	padding-bottom: 77%;
	position: relative;
	height: 0;
}
.covenant iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

h1 {
	color: var(--primary-color);
	font-family: var(--typeface-accent);
}

footer {
	text-align: center;
	padding: 1rem;
}

#nextdoor {
	background-color: green;
	padding: 1rem;
	height: 1.2rem;
	width: 9rem;
}

#paypal-button-container {
	padding-top: 1rem;
	width: 25%;
}

.obfuscate {
	unicode-bidi: bidi-override; direction: rtl;
}

@media all and (-webkit-min-device-pixel-ratio: 2.1),
	all and (-o-min-device-pixel-ratio: 13/10),
	all and (min-resolution: 120dpi),
	(max-width: 768px) {


	.topbar {
		flex-wrap: wrap;
		justify-content: center;
	}
	.logowrapper {
		text-align: center;
		flex-basis: 100%;
		font-size: 2rem;
	}

	.homecontent {
		flex-wrap: wrap;
	}


}