:root {
	--primary-color: steelblue;
	--secondary-color: green;
	--background-color: white;
	--typeface-color: black;
}

html {
	color: var(--typeface-color);
}

body {
	background: var(--background-color);
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

.topbar {
	display:flex;
	padding: 0.3rem 2rem;
	color: var(--background-color);
	font-family: 'Alegreya Sans';
	font-size: 1.1rem;
}

.logowrapper {
	flex: 1;
	font-size:2.3rem;
}

.menu ul {
	display: flex;
	align-content: stretch;
	align-items: center;
	justify-content:space-between;
}

.menu li {
	flex: 1;
	list-style: none;
	padding: .3rem 2rem;
}

.menu a {
	color: var(--background-color);
	text-decoration: none;
	text-transform: uppercase;
}

.hero {
	width: 100%;
	height: 400px;
	background-image: url('/assets/banner-photo.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	position: relative;
}

h1 {
	font-family: 'Alegreya Sans';
}
footer {
	text-align: center;
}